<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>用户注册</title>
</head>
<body>
<form action="/user/register"  method="post">
	用户名：<input name=""  type=""  value=""><br/>
	密码：<input name=""  type=""  value=""><br/>
	<input  type="submit"  value="注册"><br/>
</form>
</body>
</html>